<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Credentials for Employee Portal</title>
</head>
<body>
    
    <p>Dear {{first_name}} {{last_name}},</p>

    <p>I hope this message finds you well. We are pleased to welcome you to our team at IMS and would like to provide you with your login credentials to access our employee portal.</p>

    <p>Below are your login details:</p>

    <p><strong>Employee:</strong> {{employee_email}}</p>
    <p><strong>Temporary Password:</strong> {{employee_password}}</p>

    <p>Please follow these steps to access the employee portal:</p>

    <ol>
        <li>Go to our company website: <a href="http://127.0.0.1:8000/">institute-management-system</a></li>
        <li>Locate the "Employee Login"</li>
        <li>Enter your provided email and temporary password.</li>
    </ol>

   
    <p>If you encounter any issues or have questions regarding the login process, please feel free to contact our IT support team at <a href="mailto:ims.support@ims.com">ims.support@ims.com</a> or call us at (+1) 123 8765 555.</p>

    <p>Once again, welcome to the IMS family. We wish you a successful and fulfilling journey with us.</p>

    <p>Best regards,</p>

    <p>Admin<br>
    IMS<br>
    12, canal road, surat<br>
    Email: <a href="mailto:ims.support@ims.com">ims.support@ims.com</a><br>
    Phone: (+1) 123 8765 555.</p>
</body>
</html>
