{% extends 'base.html' %} {% block title %} Profile {% endblock %} 
{% block body %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div
            class=""
          >
          
          <img
              src="{{request.session.profile}}"
              class="user-avatar w-full h-auto rounded-full mx-auto mb-4"
              alt="User Profile Image"
            />
        
             
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
                {{request.session.employee_id}}
              </h2>
              <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
                {{request.session.role}}
              </h2>
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
              {{request.session.first_name}} {{request.session.last_name}}
            </h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">
              {{request.session.email}}
            </p>
            <p class="text-base">
              {{request.session.mobile}}
            </p>
          </div>
        </div>
        <div
          class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
        >
          <p class="leading-relaxed text-lg mb-4">
            Meggings portland fingerstache lyft, post-ironic fixie man bun banh
            mi umami everyday carry hexagon locavore direct trade art party.
            Locavore small batch listicle gastropub farm-to-table lumbersexual
            salvia messenger bag. Coloring book flannel truffaut craft beer
            drinking vinegar sartorial, disrupt fashion axe normcore meh
            butcher. Portland 90's scenester vexillologist forage post-ironic
            asymmetrical, chartreuse disrupt butcher paleo intelligentsia pabst
            before they sold out four loko. 3 wolf moon brooklyn.
          </p>
          
          <a class="font-medium title-font mt-4 text-gray-900 text-lg" href="{% url 'profile_update' employee_id=request.session.employee_id %}">
            Update Profile >>>>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
