<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information Form</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 p-8">

    <div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Employee Information Form</h2>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="block mb-2" for="employeeID">Employee ID:</label>
            <input type="text"  id="employeeID" name="employee_id" value="{{employee.employee_id}}" class="w-full px-4 py-2 mb-4 border rounded-md" >

            <label class="block mb-2" for="firstName">First Name:</label>
            <input type="text" id="firstName" name="first_name" value="{{employee.first_name}}" class="w-full px-4 py-2 mb-4 border rounded-md" >

            <label class="block mb-2" for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="last_name" value="{{employee.last_name}}" class="w-full px-4 py-2 mb-4 border rounded-md">

            <label class="block mb-2" for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{employee.email}}" class="w-full px-4 py-2 mb-4 border rounded-md" >

            <label class="block mb-2" for="mobile">Mobile:</label>
            <input type="tel" id="mobile" name="mobile" value="{{employee.mobile}}" class="w-full px-4 py-2 mb-4 border rounded-md">

            <button type="submit" class="bg-green-500 text-white px-6 py-2 rounded-md">Submit</button>
        </form>
    </div>

</body>
</html>
